

h2 {
  font-size: 1rem;
  margin: 10% 20%;
  text-align: center;
}

h3 {
  font-size: 1rem;
  margin: 10% 10%;
  text-align: center;
  clear: both;
  padding-top: 10%;
}

img {
  // width: 100%;
  @include grid-column(4);
}


.container-element {
  @include grid-column (12);
}

@media (max-width: 480px) {
  h3 {
    display: none;
  }

  .slider img {
      width: 100%;
      box-sizing: border-box;
      border: solid #000 .1rem;
    }

  .hidden {
    display: none;
  }
}

@media (min-width: 481) {
 h3 {
   font-size: 3rem;
 }

}
