
@import "header";

@import "node_modules/bourbon/app/assets/stylesheets/bourbon.scss";
@import "node_modules/bourbon-neat/core/neat.scss";
@import "main-slider.scss";

.container-element {
  @include grid-container;
  @include grid-visual;
}


img {
  width: 50%;
}

